@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 6rem;
  }

  html {
    @apply bg-off-white font-sans text-black;
    font-size: 62.5%;
  }

  @layer utilities {
    .text-shadow {
      text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
    }

    .text-gradient {
      background: linear-gradient(
        to right bottom,
        rgb(255, 255, 255) 30%,
        rgba(255, 255, 255, 0.38)
      );
      background-clip: text;
      color: transparent;
    }

    .mask-radial-faded {
      mask-image: radial-gradient(
        circle at center center,
        black,
        transparent 80%
      );
    }
    .mask-linear-faded {
      mask-image: linear-gradient(black, transparent 70%);
    }

    .react-datepicker-popper {
      z-index: 10;
    }
  }
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none !important;
  outline: none !important;
}
